.the-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vh;
}

.the-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 2vh;
    font-size: 5vh;
    padding: 5vh;
}

.the-button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    background-color: #1e3525;
    color: white;
    width: 30vh;
    border-radius: 20px;
    padding: 2vh;
}

.the-button a{
    text-decoration: none;
    color: white;
}

.the-button:hover{
    background-color: #15261a;
    cursor: pointer;
}