.the-footer {
  border-top: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3vh 5vw;
  font-size: small;
  margin-top: 10vh;
  border-radius: 1vh;
}

.footer-section-left,
.footer-section-links,
.footer-section-right {
  flex: 1 1 250px; /* responsive width */
  margin-bottom: 2vh;
}

.footer-section-left h4,
.footer-section-right h4,
.footer-section-links h4 {
  margin-bottom: 1rem;
}

.footer-section-left a,
.footer-section-links a,
.creator-links a {
  display: block;
  color: #204338;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer-section-left a:hover,
.footer-section-links a:hover,
.creator-links a:hover {
  text-decoration: underline;
  color: #3e815c;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #aaa;
  border-top: 1px solid #333;
}

@media (max-width: 768px) {
  .the-footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section-left,
  .footer-section-links,
  .footer-section-right {
    flex: 1 1 100%;
    margin-bottom: 2vh;
  }
}
