.nav-bar a {
  text-decoration: none;
}

.nav-bar {
  border-bottom: 1px solid #1e3525;
  height: fit-content;
  display: flex;
  align-items: stretch;
  position: relative;
}

.header {
  margin-top: 20px;
  font-size: 2em;
  color: #1e3525;
}

.name-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo{
    height: 75px;
    width: auto;
}

.logo-text{
    height: 75px;
    width: auto;  
}