.nav-button{
  padding: 10px 18px;
  margin: 0 10px;
  background-color: #1e3525;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  transition: background-color 0.2s, transform 0.1s;
  width: fit-content;
  text-align: center;
}

.nav-button:hover{
    background-color: rgb(33, 58, 40);
    transform: scale(1.05);
}