.nav-button {
  display: flex;
  align-items: center; 
  padding: 0 50px 0 50px;
  justify-content: center;
  height: 99%;
  font-size: medium;
  margin: 0 10px;
  color: #1e3525;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  width: 70px;
}

.nav-button:hover{
  color: #417652;
  border-bottom: 4px solid #417652;
}

.nav-button.active{
  color: #437552;
  border-bottom: 4px solid #437552;
}

@media (max-width:768px){
  .nav-button{
    display: none;
  }
}