.slideshow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}

.slideshow-image{
    transition: opacity 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.caption {
    position: absolute;
    color: #123f1f;
    bottom: 10px;
    left: 10px;
    opacity: 0.9;
    font-size: 10rem;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 8px 16px;
    border-radius: 5px;
    max-width: 90%;
    box-sizing: border-box;
    pointer-events: none;
    white-space: pre-wrap;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    transition: opacity 0.5s ease;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev:hover, .next:hover{
    scale: 1.05;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*Mobile styling*/
@media (max-width:768px){
  .caption{
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    font-size: 6rem;
  }
  .prev, .next {
    padding: 20px;
  }
}